<tichu-app-layout>
  <h1>Game</h1>
  <p *ngIf="cards$ | async as cards">{{ cards }}</p>

  <ng-container *ngIf="playerSeatId$ | async as playerSeatId">
    <ng-container *ngIf="gameState$ | async as gameState">
      <tichu-game-board-players-view
        [players]="gameState.players"
        [myPlayerSeatId]="playerSeatId">
      </tichu-game-board-players-view>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="controlPanelIds$() | async as controlPanelIds">
    <ng-container *ngIf="controlPanelIds.gameId !== undefined && controlPanelIds.playerId !== undefined">
      <ng-container *ngIf="controlPanelState$ | async as controlPanelState">
        <tichu-game-board-control-panel
          [gameId]="controlPanelIds.gameId"
          [playerId]="controlPanelIds.playerId"
          [controlPanelState]="controlPanelState">
        </tichu-game-board-control-panel>
      </ng-container>
    </ng-container>
  </ng-container>
</tichu-app-layout>
