<div class="control-buttons">
  <ng-container *ngIf="controlPanelState === 'ASK_FOR_GRAND_TICHU'">
    <button
      mat-raised-button
      color="primary"
      (click)="onGrandTichuClick('GRAND_CALLED')"
    >Call Grand Tichu
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="onGrandTichuClick('GRAND_NOT_CALLED')"
    >Don't Call Grand Tichu
    </button>
  </ng-container>
  <ng-container *ngIf="controlPanelState === 'ASK_FOR_SMALL_TICHU'">
    <button
      mat-raised-button
      color="primary"
      (click)="onSmallTichuClick('SMALL_CALLED')"
    >Call Small Tichu
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="onSmallTichuClick('NONE_CALLED')"
    >Don't Call Small Tichu
    </button>

  </ng-container>
</div>
